[Desktop Entry]
Type=Application
Name=Soundboard
Comment=A simple soundboard for Linux
Exec=com.uubroot.Soundboard
Icon=com.uubroot.Soundboard.jpg
Terminal=false
Categories=AudioVideo;Audio;
